{% extends "mail_templated/base.tpl" %}

{% block subject %}
     {{ subject }}
{% endblock %}

{% block html %}
     <div style="background-color: #f5f5f5; padding: 40px 20px; text-align: center;">
          <div style="background-color: white; margin: 0 auto; width: 80%; padding: 20px 20px; border-radius: 5px 5px; box-shadow: 1px 4px 19px -15px rgba(0,0,0,0.75);">
               <h1>Hola {{ args.fullname }},</h1>
               <p>Gracias por registrarte en el torneo de ajedrez 2017 organizado en la Universidad Piloto de Colombia Seccional Alto Magdalena.</p>
          </div>
          <p>Equipo organizador Torneo de ajedrez.</p>
     </div>
{% endblock %}